<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>Twitter Lists To RSS: 400</title>
   <meta name="description" content="A service that will convert a twitter list into rss.">
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="/media/css/my.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div id="doc" class="yui-t7">
    <div id="hd" role="banner"><h1 class="s0 font_replace margin_top_1em">Twitter Lists 2 RSS</h1></div>
    <div id="bd" role="main">
        <div class="yui-gc margin_top_1_5em">
            <div class="yui-u first">
                <h2 class="s1 font_replace">400 Error</h2>
                <p class="s5">I am hitting rate limit problems. I am in the process of contacting twitter to see if I can increase my rate.</p><p class="s5 margin_top_1em">I also, naively, didn't implement a cacheing mechanism, so I do that now too. If you can't get it to work come back in an hour and we'll see if some requests can get through.</p>
            </div>
            <div class="yui-u">
                <h3 class="s4">How To:</h3>
                <ol class="s5">
                   <li>Find a list, try <a href="http://listorious.com/">http://listorious.com/</a></li>
                   <li>Enter the list on the left</li>
                </ol>
                <h3 class="s4 margin_top_1em">Problems:</h3>
                <ul class="s5">
                    <li class="margin_top_1em">Yes, there are problems, mostly just try refreshing a couple times.</li>
                    <li class="margin_top_1em">Use with a blog reader, like google reader, should help gloss over some of the problems</li>
                    <li class="margin_top_1em">Email Me if you have feed back, <a href="mailto:alex@alexkessinger.net">alex@alexkessinger.net</a></li>
                </ul>
            </div>
        </div>
    </div>
   <div id="ft" role="contentinfo" class="margin_top_3em">
       <p class="s1">Part of the <a href="http://alexkessinger.net/story/tastestalkr-network" style="color:black;">TasteStalkr Network</a></p>
   </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-197961-21");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>